@model V_VuelosServiciosWeb.Models.CONSECUTIVO_AEROLINEA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CONSECUTIVO_AEROLINEA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONSECUTIVO_AEROLINEA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONSECUTIVO_AEROLINEA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PREFIJO_AEROLINEA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREFIJO_AEROLINEA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RANGO_INICIAL_AEROLINEA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RANGO_INICIAL_AEROLINEA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RANGO_FINAL_AEROLINEA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RANGO_FINAL_AEROLINEA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
