@model V_VuelosServiciosWeb.Models.USUARIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">

    <h2>Details</h2>

    <div>
        <h4>USUARIO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE_USUARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE_USUARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CLAVE_USUARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CLAVE_USUARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EMAIL_USUARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EMAIL_USUARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.COLOR_FAVORITO_USUARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.COLOR_FAVORITO_USUARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ROL.TIPO_ROL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ROL.TIPO_ROL)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_USUARIO }) |
        @Html.ActionLink("Back to List", "Indexx", "Admin")
    </p>
    </div>