@model IEnumerable<V_VuelosServiciosWeb.Models.USUARIO>

@{
    ViewBag.Title = "Indexx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); width: device-width;height: device-height; ">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_USUARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLAVE_USUARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL_USUARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COLOR_FAVORITO_USUARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROL.TIPO_ROL)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_USUARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLAVE_USUARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL_USUARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COLOR_FAVORITO_USUARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROL.TIPO_ROL)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_USUARIO }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_USUARIO }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_USUARIO })
                </td>
            </tr>
        }

    </table>
</div>