@model IEnumerable<V_VuelosServiciosWeb.Models.CONSECUTIVO_PUERTA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CONSECUTIVO_PUERTA1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PREFIJO_PUERTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RANGO_INICIAL_PUERTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RANGO_FINAL_PUERTA)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CONSECUTIVO_PUERTA1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PREFIJO_PUERTA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RANGO_INICIAL_PUERTA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RANGO_FINAL_PUERTA)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_CONSECUTIVO_PUERTA }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_CONSECUTIVO_PUERTA }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_CONSECUTIVO_PUERTA })
                </td>
            </tr>
        }

    </table>
    </div>