@model V_VuelosServiciosWeb.Models.BITACORA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">

    <h2>Details</h2>

    <div>
        <h4>BITACORA</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.USUARIO_BITACORA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.USUARIO_BITACORA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FECHA_BITACORA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FECHA_BITACORA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CODIGO_BITACORA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CODIGO_BITACORA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TIPO_BITACORA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TIPO_BITACORA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION_BITACORA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION_BITACORA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DETALLE_BITACORA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DETALLE_BITACORA)
            </dd>

        </dl>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_BITACORA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>
