@model V_VuelosServiciosWeb.Models.CLIENTE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CLIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIMER_APELLIDO_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIMER_APELLIDO_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEGUNDO_APELLIDO_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEGUNDO_APELLIDO_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERNAME_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAVE_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVE_CLIENTE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_CLIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
