@model V_VuelosServiciosWeb.Models.ERROR

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ERROR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ERROR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ERROR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MENSAJE_ERROR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MENSAJE_ERROR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ERROR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
