@model IEnumerable<V_VuelosServiciosWeb.Models.ERROR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_ERROR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MENSAJE_ERROR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_ERROR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MENSAJE_ERROR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ERROR }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ERROR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ERROR })
        </td>
    </tr>
}

</table>
