@model IEnumerable<V_VuelosServiciosWeb.Models.PUERTA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_PUERTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DETALLE_PUERTA)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NUMERO_PUERTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DETALLE_PUERTA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_PUERTA }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_PUERTA }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_PUERTA })
            </td>
        </tr>
    }

</table>
</div>
