@model V_VuelosServiciosWeb.Models.COMPRAR_BOLETO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<h2>Details</h2>

<div>
    <h4>COMPRAR_BOLETO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_COMPRAR_BOLETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_COMPRAR_BOLETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAGO_COMPRAR_BOLETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAGO_COMPRAR_BOLETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTO_COMPRAR_BOLETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO_COMPRAR_BOLETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.NOMBRE_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOMBRE_USUARIO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_BOLETO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
