@model V_VuelosServiciosWeb.Models.AEROLINEA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AEROLINEA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_AEROLINEA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_AEROLINEA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMAGEN_AEROLINEA.ID_IMAGEN_AEROLINEA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGEN_AEROLINEA.ID_IMAGEN_AEROLINEA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_AEROLINEA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
