@model V_VuelosServiciosWeb.Models.RESERVAR_BOLETO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}
<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); width: device-width;height: device-height; ">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>RESERVAR_BOLETO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BOOKING_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BOOKING_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CANTIDAD_RESERVAR_BOLETOS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CANTIDAD_RESERVAR_BOLETOS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TOTAL_RESERVAR_BOLETO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TOTAL_RESERVAR_BOLETO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.USUARIO.NOMBRE_USUARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.USUARIO.NOMBRE_USUARIO)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
